{% extends "base.html" %}

{% block content %}

  {% if library %}
    <h4 style="text-align: center;">{{ library }} Shows</h4>
  {% else %}
    <h4 style="text-align: center;">Shows</h4>
  {% endif %}

  <p>
    {% for library_item in libraries %}
      <button onclick="location.href='/channels?library={{ library_item }}'" type="button">{{ library_item }}</button>
    {% endfor %}
  </p>

  <div class="container">
  <table class="table-scroll center small-first-col">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody class="body-half-screen">
      {% for show_dict in shows_info[library] %}
        <tr>
          <td>{{ show_dict["title"] }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
